<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comptible" content='IE=edge'>
    <title>branch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    
</head>
<body>
    <form action="branch" method="post">
        {% csrf_token %}

        <input type="text" name="Branch_code" placeholder="Branch_code"><br>
        <input type="text" name="Branch_Name" placeholder="Branch_Name"><br>
        <input type="text" name="Branch_Addres" placeholder="Branch_Addres"><br>
        <input type="submit" value="Branch">
    </form>
    



    <div>
        {% for i in messages %}
        <h3>{{i}}</h3>
        {% endfor %}
    </div>

</body>
</html>