<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comptible" content='IE=edge'>
    <title>Transactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    
</head>
<body>
    <form action="transaction" method="post">
        {% csrf_token %}

        <input type = "number" name = "Item_Id" placeholder = "Item_Id"><br>
        <input type = "text" name = "Source_Branch" placeholder = "Source_Branch"><br>
        <input type = "text" name = "Destination_Branch" placeholder = "Destination_Branch"><br>
        <input type = 'number' name = "Quantity" placeholder = "Quantity"><br>
        <input type = 'text' name = "DEBIT or CREDIT" placeholder = "DEBIT or CREDIT"><br>
        <input type = "submit">
    </form>
    



    <div>
        {% for i in messages %}
        <h3>{{i}}</h3>
        {% endfor %}
    </div>

</body>
</html>